USE [PortalAnanas]
GO
/****** Object:  Table [dbo].[cam_administradores]    Script Date: 24/04/2026 10:40:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_administradores](
	[id_admin] [int] IDENTITY(1,1) NOT NULL,
	[CPF] [varchar](14) NOT NULL,
	[NomeCompleto] [varchar](200) NULL,
	[dataNasc] [datetime] NULL,
	[sexo] [int] NULL,
	[cep] [varchar](14) NULL,
	[endereco] [varchar](150) NULL,
	[cidade] [varchar](150) NULL,
	[uf] [varchar](50) NULL,
	[celular] [varchar](14) NULL,
	[email] [varchar](150) NULL,
	[senha] [varchar](50) NULL,
	[confimaSenha] [varchar](50) NULL,
	[id_UsuCad] [varchar](50) NULL,
	[dataCad] [datetime] NULL,
	[id_UsuAlt] [varchar](50) NULL,
	[dataAlt] [datetime] NULL,
	[id_adminPermissao] [int] NULL,
 CONSTRAINT [PK_cam_administradores] PRIMARY KEY CLUSTERED 
(
	[id_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_admissao]    Script Date: 24/04/2026 10:40:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_admissao](
	[id_tipoAdmissao] [int] IDENTITY(1,1) NOT NULL,
	[desc_admissao] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_anexosLicitacao]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_anexosLicitacao](
	[id_LiciAnexo] [int] IDENTITY(1,1) NOT NULL,
	[id_Licitacao] [int] NULL,
	[titulo] [varchar](50) NULL,
	[LiciAnexos] [varchar](50) NULL,
	[id_UsuCad] [varchar](50) NULL,
	[dataCad] [datetime] NULL,
	[id_UsuAlt] [varchar](50) NULL,
	[dataAlt] [datetime] NULL,
	[statusAnexos] [bit] NULL,
 CONSTRAINT [PK_cam_anexosLicitacao] PRIMARY KEY CLUSTERED 
(
	[id_LiciAnexo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_ataPreco]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_ataPreco](
	[id_ataPreco] [int] IDENTITY(1,1) NOT NULL,
	[id_categoriaLeg] [int] NULL,
	[numDocumento] [varchar](50) NULL,
	[dataPublicacao] [datetime] NULL,
	[descricao] [varchar](max) NULL,
	[anexo_ataPreco] [varchar](50) NULL,
	[statusAtaPreco] [bit] NULL,
	[id_usuCad] [varchar](50) NULL,
	[dataCad] [datetime] NULL,
	[id_usuAlt] [varchar](50) NULL,
	[dataAlt] [datetime] NULL,
 CONSTRAINT [PK_cam_ataPreco] PRIMARY KEY CLUSTERED 
(
	[id_ataPreco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_cargos]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_cargos](
	[id_cargo] [int] IDENTITY(1,1) NOT NULL,
	[desc_cargo] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_categoriaLeg]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_categoriaLeg](
	[id_categoriaLeg] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_comissao]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_comissao](
	[id_comissao] [int] IDENTITY(1,1) NOT NULL,
	[id_vereador] [int] NULL,
	[id_funcoes] [int] NULL,
	[id_mandatoleg] [int] NULL,
	[obs] [varchar](200) NULL,
	[id_tipoComissao] [int] NULL,
	[statusComissao] [bit] NULL,
 CONSTRAINT [PK_cam_comissao] PRIMARY KEY CLUSTERED 
(
	[id_comissao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_compras]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_compras](
	[id_compras] [int] NULL,
	[id_modalidade] [int] NULL,
	[id_licitacao] [int] NULL,
	[dataCompra] [datetime] NULL,
	[id_fornecedor] [int] NULL,
	[id_produtos] [int] NULL,
	[valorTotal] [money] NULL,
	[valorTotalDesconto] [money] NULL,
	[valorFinal] [money] NULL,
	[tipoCompra] [varchar](200) NULL,
	[descricao] [varchar](max) NULL,
	[statusCompra] [bit] NULL,
	[id_usuCad] [varchar](50) NULL,
	[dataCad] [datetime] NULL,
	[id_usuAlt] [varchar](50) NULL,
	[dataAlt] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_contatoSite]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_contatoSite](
	[id_Contato] [int] IDENTITY(1,1) NOT NULL,
	[nomeCompleto] [varchar](200) NULL,
	[email] [varchar](100) NULL,
	[assunto] [varchar](100) NULL,
	[mensagem] [varchar](max) NULL,
	[data_envio] [datetime] NULL,
	[visualizado] [bit] NULL,
 CONSTRAINT [PK_cam_contatoSite] PRIMARY KEY CLUSTERED 
(
	[id_Contato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_contratos]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_contratos](
	[id_contrato] [int] IDENTITY(1,1) NOT NULL,
	[id_licitacao] [int] NULL,
	[id_tipoContratacao] [int] NULL,
	[numContrato] [varchar](50) NULL,
	[inicioVigencia] [datetime] NULL,
	[fimVigencia] [datetime] NULL,
	[valorEstimado] [money] NULL,
	[id_fornecedor] [int] NULL,
	[id_fiscal] [int] NULL,
	[descricao] [varchar](max) NULL,
	[anexoContrato] [varchar](50) NULL,
	[statusContrato] [bit] NULL,
	[id_UsuCad] [varchar](50) NULL,
	[dataCad] [datetime] NULL,
	[id_UsuAlt] [varchar](50) NULL,
	[dataAlt] [datetime] NULL,
 CONSTRAINT [PK_cam_contratos] PRIMARY KEY CLUSTERED 
(
	[id_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_departamento]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_departamento](
	[id_Departamento] [int] IDENTITY(1,1) NOT NULL,
	[desc_Departamento] [varchar](50) NULL,
 CONSTRAINT [PK_cam_departamento] PRIMARY KEY CLUSTERED 
(
	[id_Departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_diarioOfi]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_diarioOfi](
	[id_diario] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[anexo_diario] [varchar](50) NOT NULL,
	[status_diario] [bit] NOT NULL,
	[dataCad] [datetime] NULL,
	[idUsu_Cad] [varchar](50) NULL,
	[idUsu_Alt] [varchar](50) NULL,
	[dataAlt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_escolaridade]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_escolaridade](
	[id_escolaridade] [int] IDENTITY(1,1) NOT NULL,
	[desc_escolaridade] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_esic]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_esic](
	[id_esic] [int] IDENTITY(1,1) NOT NULL,
	[id_tipoEsic] [int] NULL,
	[anonimo] [bit] NULL,
	[nome] [varchar](200) NULL,
	[cpf] [varchar](14) NULL,
	[datanasc] [datetime] NULL,
	[sexo] [char](1) NULL,
	[id_escolaridade] [int] NULL,
	[telefone] [varchar](50) NULL,
	[formaRecebimento] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[descricaoEsic] [varchar](max) NULL,
	[anexoEsic] [varchar](50) NULL,
	[protocolo] [varchar](50) NULL,
	[dataCad] [datetime] NULL,
	[respondida] [bit] NULL,
	[resposta] [varchar](max) NULL,
	[dataResposta] [datetime] NULL,
	[usu_Resp] [varchar](50) NULL,
 CONSTRAINT [PK_cam_esic] PRIMARY KEY CLUSTERED 
(
	[id_esic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_funcoesLeg]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_funcoesLeg](
	[id_funcoes] [int] IDENTITY(1,1) NOT NULL,
	[desc_funcoes] [varchar](50) NULL,
 CONSTRAINT [PK_cam_funcoesLeg] PRIMARY KEY CLUSTERED 
(
	[id_funcoes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_historia]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_historia](
	[id_historia] [int] IDENTITY(1,1) NOT NULL,
	[anoFundacao] [varchar](50) NULL,
	[diaAniversario] [int] NULL,
	[populacao] [decimal](15, 2) NULL,
	[area] [float] NULL,
	[conteudo] [varchar](max) NULL,
	[idUsu_Cad] [varchar](50) NULL,
	[dataCad] [datetime] NULL,
	[idUsu_Alt] [varchar](50) NULL,
	[dataAlt] [datetime] NULL,
	[UpCidade] [varchar](50) NULL,
	[UpBrasao] [varchar](50) NULL,
	[mesAniversario] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_legislacao]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_legislacao](
	[id_legislacao] [int] IDENTITY(1,1) NOT NULL,
	[id_categoriaLeg] [int] NULL,
	[descricao] [varchar](200) NULL,
	[anexo_legislacao] [varchar](50) NULL,
	[id_AutorVer] [int] NULL,
	[status_Leg] [bit] NULL,
	[dataPublicacao] [datetime] NULL,
	[dataCad] [datetime] NULL,
	[idUsu_Cad] [varchar](50) NULL,
	[idUsu_Alt] [varchar](50) NULL,
	[dataAlt] [datetime] NULL,
	[numeroDoc] [varchar](10) NULL,
 CONSTRAINT [PK_cam_legislacao] PRIMARY KEY CLUSTERED 
(
	[id_legislacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_legislativo]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_legislativo](
	[id_legislativo] [int] IDENTITY(1,1) NOT NULL,
	[id_vereador] [int] NULL,
	[id_mandatoleg] [int] NULL,
	[MesaDiretora] [bit] NULL,
	[id_funcoes] [int] NULL,
	[obs] [varchar](200) NULL,
	[statusLeg] [bit] NULL,
 CONSTRAINT [PK_cam_legislativo] PRIMARY KEY CLUSTERED 
(
	[id_legislativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_liciFinalidade]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_liciFinalidade](
	[id_Finalidade] [int] IDENTITY(1,1) NOT NULL,
	[descFinalidade] [varchar](50) NULL,
 CONSTRAINT [PK_cam_liciFinalidade] PRIMARY KEY CLUSTERED 
(
	[id_Finalidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_liciModalidade]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_liciModalidade](
	[id_Modalidade] [int] IDENTITY(1,1) NOT NULL,
	[descModalidade] [varchar](50) NULL,
 CONSTRAINT [PK_cam_liciModalidade] PRIMARY KEY CLUSTERED 
(
	[id_Modalidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_liciProcedimento]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_liciProcedimento](
	[id_Procedimento] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](50) NULL,
 CONSTRAINT [PK_cam_liciProcedimento] PRIMARY KEY CLUSTERED 
(
	[id_Procedimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_liciRegimeExec]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_liciRegimeExec](
	[id_RegimeExec] [int] IDENTITY(1,1) NOT NULL,
	[decRegimeExec] [varchar](50) NULL,
 CONSTRAINT [PK_cam_liciRegimeExec] PRIMARY KEY CLUSTERED 
(
	[id_RegimeExec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_liciSituacao]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_liciSituacao](
	[id_Situacao] [int] IDENTITY(1,1) NOT NULL,
	[descSituacao] [varchar](50) NULL,
 CONSTRAINT [PK_cam_liciSituacao] PRIMARY KEY CLUSTERED 
(
	[id_Situacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_licitacao]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_licitacao](
	[id_licitacao] [int] IDENTITY(1,1) NOT NULL,
	[id_Autoridade] [int] NULL,
	[id_Orgao] [int] NULL,
	[id_Procedimento] [int] NULL,
	[id_modalidade] [int] NULL,
	[id_TipoLicitacao] [int] NULL,
	[id_finalidade] [int] NULL,
	[id_RegimeSituacao] [int] NULL,
	[id_Situacao] [int] NULL,
	[NumProceso] [varchar](50) NULL,
	[dataAbertura] [varchar](50) NULL,
	[dataHomologa] [varchar](50) NULL,
	[dataPublicacao] [varchar](50) NULL,
	[valorEstimado] [money] NULL,
	[valorDespesa] [money] NULL,
	[objeto] [varchar](max) NULL,
	[anexo_Lici] [varchar](50) NULL,
	[statusLicitacao] [bit] NULL,
	[id_UsuCad] [varchar](50) NULL,
	[dataCad] [datetime] NULL,
	[id_UsuAlt] [varchar](50) NULL,
	[dataAlt] [datetime] NULL,
 CONSTRAINT [PK_cam_licitacao] PRIMARY KEY CLUSTERED 
(
	[id_licitacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_licitantes]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_licitantes](
	[id_Licitantes] [int] IDENTITY(1,1) NOT NULL,
	[razaoSocial] [varchar](50) NULL,
	[nomeFantasia] [varchar](50) NULL,
	[cnpjCpfLicitante] [varchar](50) NULL,
	[statusLicitante] [bit] NULL,
	[Motivo] [varchar](max) NULL,
 CONSTRAINT [PK_cam_licitantes] PRIMARY KEY CLUSTERED 
(
	[id_Licitantes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_liciTipoLicitacao]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_liciTipoLicitacao](
	[id_TipoLici] [int] IDENTITY(1,1) NOT NULL,
	[decTipoLici] [varchar](50) NULL,
 CONSTRAINT [PK_cam_liciTipoLicitacao] PRIMARY KEY CLUSTERED 
(
	[id_TipoLici] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_mandatoAnt]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_mandatoAnt](
	[id_mandatoAnt] [int] IDENTITY(1,1) NOT NULL,
	[id_vereador] [int] NULL,
	[id_mandatoleg] [int] NULL,
	[anoInicio] [varchar](50) NULL,
	[anoFim] [varchar](50) NULL,
 CONSTRAINT [PK_cam_mandatoAnt] PRIMARY KEY CLUSTERED 
(
	[id_mandatoAnt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_mandatosLeg]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_mandatosLeg](
	[id_mandatosLeg] [int] IDENTITY(1,1) NOT NULL,
	[IdMandato] [int] NULL,
	[mandatos] [varchar](50) NULL,
 CONSTRAINT [PK_cam_mandatosLeg] PRIMARY KEY CLUSTERED 
(
	[id_mandatosLeg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_manifestacao]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_manifestacao](
	[id_manifestcao] [int] IDENTITY(1,1) NOT NULL,
	[id_tipoManifestacao] [int] NULL,
	[anonimo] [bit] NULL,
	[formaRecebimento] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[cpf] [nchar](14) NULL,
	[nome] [varchar](200) NULL,
	[telefone] [varchar](50) NULL,
	[anexo] [varchar](50) NULL,
	[textoManifestacao] [varchar](max) NULL,
	[dataCad] [datetime] NULL,
	[protocolo] [varchar](50) NULL,
	[respondida] [bit] NULL,
	[resposta] [varchar](max) NULL,
	[usu_Resp] [varchar](50) NULL,
	[dataResposta] [datetime] NULL,
 CONSTRAINT [PK_cam_manifestacao] PRIMARY KEY CLUSTERED 
(
	[id_manifestcao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_noticias]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_noticias](
	[id_noticia] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](max) NULL,
	[subtitulo] [varchar](max) NULL,
	[conteudo] [varchar](max) NULL,
	[anexo_noticia] [varchar](50) NULL,
	[autor] [varchar](50) NULL,
	[destaque] [bit] NULL,
	[dataCad] [datetime] NULL,
	[idUsu_Cad] [varchar](50) NULL,
	[idUsu_Alt] [varchar](50) NULL,
	[dataAlt] [datetime] NULL,
	[statusNoticia] [bit] NULL,
 CONSTRAINT [PK_cam_noticias] PRIMARY KEY CLUSTERED 
(
	[id_noticia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_orgao]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_orgao](
	[id_Orgao] [int] IDENTITY(1,1) NOT NULL,
	[descOrgao] [varchar](100) NULL,
 CONSTRAINT [PK_cam_orgao] PRIMARY KEY CLUSTERED 
(
	[id_Orgao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_pca]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_pca](
	[id_pca] [int] IDENTITY(1,1) NOT NULL,
	[id_categoriaLeg] [int] NULL,
	[numDocumento] [varchar](50) NULL,
	[dataPublicacao] [datetime] NULL,
	[descricaoPCA] [varchar](500) NULL,
	[upPCA] [varchar](50) NULL,
	[statusPCA] [bit] NULL,
	[id_usuCad] [varchar](50) NULL,
	[dataCad] [datetime] NULL,
	[id_usuAlt] [varchar](50) NULL,
	[dataAlt] [datetime] NULL,
 CONSTRAINT [PK_cam_pca] PRIMARY KEY CLUSTERED 
(
	[id_pca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_permissaoAcesso]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_permissaoAcesso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_Servidor] [int] NULL,
	[id_permissao] [int] NULL,
 CONSTRAINT [PK_cam_permissoes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_regimento]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_regimento](
	[id_regimento] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](100) NULL,
	[descricao] [varchar](100) NULL,
	[anexo_regimento] [varchar](50) NULL,
	[data_cad] [datetime] NULL,
	[idUsu_Cad] [varchar](50) NULL,
	[idUsu_Alt] [varchar](50) NULL,
	[data_Alt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_servidor]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_servidor](
	[id_servidor] [int] IDENTITY(1,1) NOT NULL,
	[CPF] [varchar](50) NULL,
	[NomeCompleto] [varchar](50) NULL,
 CONSTRAINT [PK_cam_servidor] PRIMARY KEY CLUSTERED 
(
	[id_servidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_servidores]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_servidores](
	[id_servidor] [int] IDENTITY(1,1) NOT NULL,
	[CPF] [varchar](14) NOT NULL,
	[NomeCompleto] [varchar](100) NULL,
	[DataNascimento] [date] NULL,
	[Sexo] [char](1) NULL,
	[EstadoCivil] [varchar](15) NULL,
	[Matricula] [varchar](20) NULL,
	[RG] [varchar](20) NULL,
	[OrgaoExpedidor] [varchar](50) NULL,
	[id_Escolaridade] [int] NULL,
	[CEP] [varchar](10) NULL,
	[Endereco] [varchar](255) NULL,
	[Numero] [varchar](10) NULL,
	[Bairro] [varchar](100) NULL,
	[Complemento] [varchar](100) NULL,
	[Cidade] [varchar](100) NULL,
	[UF] [varchar](2) NULL,
	[Celular] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[id_TipoAdmissao] [int] NULL,
	[id_Cargo] [int] NULL,
	[id_CargoRecebimento] [int] NULL,
	[Decreto] [varchar](50) NULL,
	[DataDecreto] [datetime] NULL,
	[CargaHorariaMensal] [int] NULL,
	[DataAdmissao] [datetime] NULL,
	[FotoPerfil] [varchar](100) NULL,
	[banco] [varchar](50) NULL,
	[agencia] [varchar](10) NULL,
	[conta] [varchar](10) NULL,
	[tipoConta] [int] NULL,
	[operacao] [varchar](10) NULL,
	[nivelAcesso] [int] NULL,
	[senha] [varchar](255) NULL,
	[id_permissao] [int] NULL,
	[statusServidor] [bit] NULL,
	[id_Departamento] [int] NULL,
	[id_UsuCad] [varchar](50) NULL,
	[dataCad] [datetime] NULL,
	[id_UsuAlt] [varchar](50) NULL,
	[dataAlt] [datetime] NULL,
 CONSTRAINT [PK__Servidor__3214EC27C93389BF] PRIMARY KEY CLUSTERED 
(
	[id_servidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_tipoComissao]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_tipoComissao](
	[id_tipoComissao] [int] IDENTITY(1,1) NOT NULL,
	[DescComissao] [varchar](250) NULL,
 CONSTRAINT [PK_cam_tipoComissao] PRIMARY KEY CLUSTERED 
(
	[id_tipoComissao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_tipoContratacao]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_tipoContratacao](
	[id_tipoContratacao] [int] IDENTITY(1,1) NOT NULL,
	[descTipo] [varchar](50) NULL,
 CONSTRAINT [PK_cam_tipoContratacao] PRIMARY KEY CLUSTERED 
(
	[id_tipoContratacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_tipoEsic]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_tipoEsic](
	[id_tipoEsic] [int] IDENTITY(1,1) NOT NULL,
	[descTipo] [varchar](50) NULL,
 CONSTRAINT [PK_cam_tipoEsic] PRIMARY KEY CLUSTERED 
(
	[id_tipoEsic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_tipoManifestacao]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_tipoManifestacao](
	[id_tipoManifestacao] [int] IDENTITY(1,1) NOT NULL,
	[descManifestacao] [varchar](50) NULL,
	[icone] [varchar](255) NULL,
 CONSTRAINT [PK_cam_tipoManifestacao] PRIMARY KEY CLUSTERED 
(
	[id_tipoManifestacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_tipoPermissao]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_tipoPermissao](
	[id_permissao] [int] NOT NULL,
	[desc_Permissao] [varchar](50) NULL,
 CONSTRAINT [PK_cam_permissao] PRIMARY KEY CLUSTERED 
(
	[id_permissao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_vereador]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_vereador](
	[Id_Vereador] [int] IDENTITY(1,1) NOT NULL,
	[id_servidor] [int] NULL,
	[apelido] [varchar](100) NULL,
	[partido] [varchar](50) NULL,
	[ocupacao] [varchar](100) NULL,
	[fotoVereador] [varchar](50) NULL,
	[IdMandato] [int] NULL,
	[statusVereador] [bit] NULL,
 CONSTRAINT [PK_cam_vereador_1] PRIMARY KEY CLUSTERED 
(
	[Id_Vereador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_vereadorMandato]    Script Date: 24/04/2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_vereadorMandato](
	[IdMandato] [int] IDENTITY(1,1) NOT NULL,
	[Mandato] [varchar](50) NULL,
 CONSTRAINT [PK_cam_vereadorMandato] PRIMARY KEY CLUSTERED 
(
	[IdMandato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cam_admissao] ON 

INSERT [dbo].[cam_admissao] ([id_tipoAdmissao], [desc_admissao]) VALUES (1, N'Concursado')
INSERT [dbo].[cam_admissao] ([id_tipoAdmissao], [desc_admissao]) VALUES (2, N'Contrato')
INSERT [dbo].[cam_admissao] ([id_tipoAdmissao], [desc_admissao]) VALUES (3, N'Comissionado')
SET IDENTITY_INSERT [dbo].[cam_admissao] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_anexosLicitacao] ON 

INSERT [dbo].[cam_anexosLicitacao] ([id_LiciAnexo], [id_Licitacao], [titulo], [LiciAnexos], [id_UsuCad], [dataCad], [id_UsuAlt], [dataAlt], [statusAnexos]) VALUES (1, 4, N'aaaaaaaaa', N'aaaaaaaaa.pdf', N'4426330173', CAST(N'2024-11-18T21:28:11.597' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[cam_anexosLicitacao] ([id_LiciAnexo], [id_Licitacao], [titulo], [LiciAnexos], [id_UsuCad], [dataCad], [id_UsuAlt], [dataAlt], [statusAnexos]) VALUES (2, 4, N'bbbbbb', N'bbbbbb.pdf', N'4426330173', CAST(N'2024-11-18T21:31:52.367' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[cam_anexosLicitacao] ([id_LiciAnexo], [id_Licitacao], [titulo], [LiciAnexos], [id_UsuCad], [dataCad], [id_UsuAlt], [dataAlt], [statusAnexos]) VALUES (3, 0, N'bbbb', N'bbbb.pdf', N'4426330173', CAST(N'2024-11-18T22:20:04.160' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[cam_anexosLicitacao] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_ataPreco] ON 

INSERT [dbo].[cam_ataPreco] ([id_ataPreco], [id_categoriaLeg], [numDocumento], [dataPublicacao], [descricao], [anexo_ataPreco], [statusAtaPreco], [id_usuCad], [dataCad], [id_usuAlt], [dataAlt]) VALUES (1, 11, N'01/2024', CAST(N'2024-12-02T00:00:00.000' AS DateTime), N'aaaaaaa', N'1055272024090266d5c3cfde77a.pdf', 1, N'4426330173', CAST(N'2024-12-02T15:22:03.370' AS DateTime), N'4426330173', CAST(N'2024-12-02T15:41:00.113' AS DateTime))
INSERT [dbo].[cam_ataPreco] ([id_ataPreco], [id_categoriaLeg], [numDocumento], [dataPublicacao], [descricao], [anexo_ataPreco], [statusAtaPreco], [id_usuCad], [dataCad], [id_usuAlt], [dataAlt]) VALUES (2, 11, N'02/2024', CAST(N'2024-12-05T00:00:00.000' AS DateTime), N'dfsdfsdfdsf', N'download (1).pdf', 1, N'4426330173', CAST(N'2024-12-05T15:18:00.463' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[cam_ataPreco] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_cargos] ON 

INSERT [dbo].[cam_cargos] ([id_cargo], [desc_cargo]) VALUES (1, N'Assessor de Gabinete')
INSERT [dbo].[cam_cargos] ([id_cargo], [desc_cargo]) VALUES (2, N'Assistente Administrativo')
INSERT [dbo].[cam_cargos] ([id_cargo], [desc_cargo]) VALUES (3, N'Auxiliar de Serviços Gerais')
SET IDENTITY_INSERT [dbo].[cam_cargos] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_categoriaLeg] ON 

INSERT [dbo].[cam_categoriaLeg] ([id_categoriaLeg], [descricao]) VALUES (1, N'Projetos de Lei')
INSERT [dbo].[cam_categoriaLeg] ([id_categoriaLeg], [descricao]) VALUES (2, N'Resoluções')
INSERT [dbo].[cam_categoriaLeg] ([id_categoriaLeg], [descricao]) VALUES (3, N'Decretos')
SET IDENTITY_INSERT [dbo].[cam_categoriaLeg] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_comissao] ON 

INSERT [dbo].[cam_comissao] ([id_comissao], [id_vereador], [id_funcoes], [id_mandatoleg], [obs], [id_tipoComissao], [statusComissao]) VALUES (1031, 60, 6, 5, NULL, 1, 1)
INSERT [dbo].[cam_comissao] ([id_comissao], [id_vereador], [id_funcoes], [id_mandatoleg], [obs], [id_tipoComissao], [statusComissao]) VALUES (1032, 60, 1, 5, NULL, 2, 1)
INSERT [dbo].[cam_comissao] ([id_comissao], [id_vereador], [id_funcoes], [id_mandatoleg], [obs], [id_tipoComissao], [statusComissao]) VALUES (1033, 55, 1, 5, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[cam_comissao] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_contatoSite] ON 

INSERT [dbo].[cam_contatoSite] ([id_Contato], [nomeCompleto], [email], [assunto], [mensagem], [data_envio], [visualizado]) VALUES (6, N'Ian Leandro Cardoso Formiga', N'formigaian@gmail.com', N'asdsadsa', N'sadsadasdasda', CAST(N'2025-01-08T16:32:45.263' AS DateTime), 1)
INSERT [dbo].[cam_contatoSite] ([id_Contato], [nomeCompleto], [email], [assunto], [mensagem], [data_envio], [visualizado]) VALUES (7, N'Laura Regina', N'formigaian@gmail.com', N'asdasdasd', N'sadsadsadasda', CAST(N'2025-01-08T16:32:55.807' AS DateTime), 1)
INSERT [dbo].[cam_contatoSite] ([id_Contato], [nomeCompleto], [email], [assunto], [mensagem], [data_envio], [visualizado]) VALUES (9, N'gsdfsdfdsf', N'formigaian@gmail.com', N'sdfsdfsdfsdf', N'dfsdfdsfds', CAST(N'2025-01-13T17:10:06.980' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[cam_contatoSite] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_contratos] ON 

INSERT [dbo].[cam_contratos] ([id_contrato], [id_licitacao], [id_tipoContratacao], [numContrato], [inicioVigencia], [fimVigencia], [valorEstimado], [id_fornecedor], [id_fiscal], [descricao], [anexoContrato], [statusContrato], [id_UsuCad], [dataCad], [id_UsuAlt], [dataAlt]) VALUES (1, 3, 1, N'01/2024', CAST(N'2024-11-19T00:00:00.000' AS DateTime), CAST(N'2024-11-19T00:00:00.000' AS DateTime), 5200.0000, 1, 1, N'aaaaaa', N'download (3).pdf', 1, N'4426330173', CAST(N'2024-11-19T18:57:46.290' AS DateTime), N'4426330173', CAST(N'2024-11-27T10:27:19.123' AS DateTime))
INSERT [dbo].[cam_contratos] ([id_contrato], [id_licitacao], [id_tipoContratacao], [numContrato], [inicioVigencia], [fimVigencia], [valorEstimado], [id_fornecedor], [id_fiscal], [descricao], [anexoContrato], [statusContrato], [id_UsuCad], [dataCad], [id_UsuAlt], [dataAlt]) VALUES (2, 0, 3, N'05/2024', CAST(N'2024-11-27T00:00:00.000' AS DateTime), CAST(N'2025-11-27T00:00:00.000' AS DateTime), 5000.0000, 3, 1, N'nonono', N'download (3).pdf', 1, N'4426330173', CAST(N'2024-11-27T10:09:40.807' AS DateTime), N'4426330173', CAST(N'2025-01-27T19:28:30.690' AS DateTime))
INSERT [dbo].[cam_contratos] ([id_contrato], [id_licitacao], [id_tipoContratacao], [numContrato], [inicioVigencia], [fimVigencia], [valorEstimado], [id_fornecedor], [id_fiscal], [descricao], [anexoContrato], [statusContrato], [id_UsuCad], [dataCad], [id_UsuAlt], [dataAlt]) VALUES (3, 0, 2, N'06/2024', CAST(N'1900-01-01T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime), 50.0000, 1, 1, N'asdasdasda', N'', 1, N'4426330173', CAST(N'2024-11-27T10:16:00.450' AS DateTime), N'4426330173', CAST(N'2025-01-27T19:28:52.120' AS DateTime))
SET IDENTITY_INSERT [dbo].[cam_contratos] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_departamento] ON 

INSERT [dbo].[cam_departamento] ([id_Departamento], [desc_Departamento]) VALUES (1, N'Legislativo')
INSERT [dbo].[cam_departamento] ([id_Departamento], [desc_Departamento]) VALUES (2, N'Administração')
INSERT [dbo].[cam_departamento] ([id_Departamento], [desc_Departamento]) VALUES (3, N'Financeiro')
SET IDENTITY_INSERT [dbo].[cam_departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_diarioOfi] ON 

INSERT [dbo].[cam_diarioOfi] ([id_diario], [titulo], [anexo_diario], [status_diario], [dataCad], [idUsu_Cad], [idUsu_Alt], [dataAlt]) VALUES (1, N'dsfdsfsdfdsfsd', N'2025124184517.pdf', 1, CAST(N'2024-11-01T16:06:30.297' AS DateTime), N'4426330173', N'4426330173', CAST(N'2025-01-24T18:45:17.640' AS DateTime))
INSERT [dbo].[cam_diarioOfi] ([id_diario], [titulo], [anexo_diario], [status_diario], [dataCad], [idUsu_Cad], [idUsu_Alt], [dataAlt]) VALUES (2, N'aaaaa', N'2025124184435.pdf', 1, CAST(N'2024-11-01T16:16:24.817' AS DateTime), N'4426330173', N'4426330173', CAST(N'2025-01-24T18:44:35.473' AS DateTime))
INSERT [dbo].[cam_diarioOfi] ([id_diario], [titulo], [anexo_diario], [status_diario], [dataCad], [idUsu_Cad], [idUsu_Alt], [dataAlt]) VALUES (5, N'dsadasdasdasdasd', N'2025124184442.pdf', 1, CAST(N'2025-01-24T18:41:10.430' AS DateTime), N'4426330173', N'4426330173', CAST(N'2025-01-24T18:44:42.767' AS DateTime))
SET IDENTITY_INSERT [dbo].[cam_diarioOfi] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_escolaridade] ON 

INSERT [dbo].[cam_escolaridade] ([id_escolaridade], [desc_escolaridade]) VALUES (1, N'Fundamental Incompleto')
INSERT [dbo].[cam_escolaridade] ([id_escolaridade], [desc_escolaridade]) VALUES (2, N'Fundamental Completo')
INSERT [dbo].[cam_escolaridade] ([id_escolaridade], [desc_escolaridade]) VALUES (3, N'Ensino Médio Incompleto')
SET IDENTITY_INSERT [dbo].[cam_escolaridade] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_esic] ON 

INSERT [dbo].[cam_esic] ([id_esic], [id_tipoEsic], [anonimo], [nome], [cpf], [datanasc], [sexo], [id_escolaridade], [telefone], [formaRecebimento], [email], [descricaoEsic], [anexoEsic], [protocolo], [dataCad], [respondida], [resposta], [dataResposta], [usu_Resp]) VALUES (10, 5, 1, NULL, NULL, NULL, NULL, NULL, NULL, N'email', N'formigaian@gmail.com', N'sadsadsadsadasd', N'1', N'ASIC-28111239520', CAST(N'2025-01-28T11:12:39.553' AS DateTime), 1, N'sdfdsfdsfsdfsdf', CAST(N'2025-01-28T11:16:22.880' AS DateTime), N'4426330173')
INSERT [dbo].[cam_esic] ([id_esic], [id_tipoEsic], [anonimo], [nome], [cpf], [datanasc], [sexo], [id_escolaridade], [telefone], [formaRecebimento], [email], [descricaoEsic], [anexoEsic], [protocolo], [dataCad], [respondida], [resposta], [dataResposta], [usu_Resp]) VALUES (11, 2, 1, NULL, NULL, NULL, NULL, NULL, NULL, N'', N'', N'jkkmmmmmmmmmm', N'0', N'ASIC-05090834074', CAST(N'2025-08-05T09:08:34.123' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[cam_esic] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_funcoesLeg] ON 

INSERT [dbo].[cam_funcoesLeg] ([id_funcoes], [desc_funcoes]) VALUES (1, N'Presidente')
INSERT [dbo].[cam_funcoesLeg] ([id_funcoes], [desc_funcoes]) VALUES (2, N'Vice-presidente')
INSERT [dbo].[cam_funcoesLeg] ([id_funcoes], [desc_funcoes]) VALUES (3, N'1 Secretario')
SET IDENTITY_INSERT [dbo].[cam_funcoesLeg] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_historia] ON 

SET IDENTITY_INSERT [dbo].[cam_historia] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_legislacao] ON 

INSERT [dbo].[cam_legislacao] ([id_legislacao], [id_categoriaLeg], [descricao], [anexo_legislacao], [id_AutorVer], [status_Leg], [dataPublicacao], [dataCad], [idUsu_Cad], [idUsu_Alt], [dataAlt], [numeroDoc]) VALUES (1, 1, N'aaaaaaa', N'2024114173011.pdf', 4, 1, CAST(N'2024-10-12T00:00:00.000' AS DateTime), CAST(N'2024-11-04T16:55:43.630' AS DateTime), N'4426330173', N'4426330173', CAST(N'2024-12-02T15:55:44.520' AS DateTime), N'02/2024')
INSERT [dbo].[cam_legislacao] ([id_legislacao], [id_categoriaLeg], [descricao], [anexo_legislacao], [id_AutorVer], [status_Leg], [dataPublicacao], [dataCad], [idUsu_Cad], [idUsu_Alt], [dataAlt], [numeroDoc]) VALUES (2, 5, N'aaaaaaaaaaaaaaaaa', N'202411417314.pdf', 4, 1, CAST(N'2024-11-05T00:00:00.000' AS DateTime), CAST(N'2024-11-04T17:31:04.773' AS DateTime), N'4426330173', N'4426330173', CAST(N'2024-12-02T15:54:55.823' AS DateTime), N'05/2024')
INSERT [dbo].[cam_legislacao] ([id_legislacao], [id_categoriaLeg], [descricao], [anexo_legislacao], [id_AutorVer], [status_Leg], [dataPublicacao], [dataCad], [idUsu_Cad], [idUsu_Alt], [dataAlt], [numeroDoc]) VALUES (7, 3, N'aaaaaaaaaaaaaaaa', N'2024122155250.pdf', 56, 1, CAST(N'2024-12-01T00:00:00.000' AS DateTime), CAST(N'2024-12-02T15:52:50.273' AS DateTime), N'4426330173', N'4426330173', CAST(N'2025-11-12T09:29:39.560' AS DateTime), N'05/2024')
SET IDENTITY_INSERT [dbo].[cam_legislacao] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_legislativo] ON 

INSERT [dbo].[cam_legislativo] ([id_legislativo], [id_vereador], [id_mandatoleg], [MesaDiretora], [id_funcoes], [obs], [statusLeg]) VALUES (21, 56, 5, 1, 1, NULL, 1)
INSERT [dbo].[cam_legislativo] ([id_legislativo], [id_vereador], [id_mandatoleg], [MesaDiretora], [id_funcoes], [obs], [statusLeg]) VALUES (22, 62, 5, 1, 2, NULL, 1)
INSERT [dbo].[cam_legislativo] ([id_legislativo], [id_vereador], [id_mandatoleg], [MesaDiretora], [id_funcoes], [obs], [statusLeg]) VALUES (23, 58, 5, 1, 3, NULL, 1)
SET IDENTITY_INSERT [dbo].[cam_legislativo] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_liciFinalidade] ON 

INSERT [dbo].[cam_liciFinalidade] ([id_Finalidade], [descFinalidade]) VALUES (1, N'AQUISIÇÃO DE SERVIÇOS')
INSERT [dbo].[cam_liciFinalidade] ([id_Finalidade], [descFinalidade]) VALUES (2, N'AQUISIÇÃO DE BENS')
INSERT [dbo].[cam_liciFinalidade] ([id_Finalidade], [descFinalidade]) VALUES (3, N'AQUISIÇÃO DE BENS/SERVIÇOS')
SET IDENTITY_INSERT [dbo].[cam_liciFinalidade] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_liciModalidade] ON 

INSERT [dbo].[cam_liciModalidade] ([id_Modalidade], [descModalidade]) VALUES (1, N'CONTRATAÇÃO DIRETA')
INSERT [dbo].[cam_liciModalidade] ([id_Modalidade], [descModalidade]) VALUES (2, N'TOMADA DE PREÇO')
INSERT [dbo].[cam_liciModalidade] ([id_Modalidade], [descModalidade]) VALUES (3, N'PREGÃO PRESENCIAL')
SET IDENTITY_INSERT [dbo].[cam_liciModalidade] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_liciProcedimento] ON 

INSERT [dbo].[cam_liciProcedimento] ([id_Procedimento], [Descricao]) VALUES (1, N'LICITAÇÃO')
INSERT [dbo].[cam_liciProcedimento] ([id_Procedimento], [Descricao]) VALUES (2, N'CONTRATAÇÃO DIRETA')
INSERT [dbo].[cam_liciProcedimento] ([id_Procedimento], [Descricao]) VALUES (3, N'ADESÃO À ATA DE REGISTRO DE PREÇO')
SET IDENTITY_INSERT [dbo].[cam_liciProcedimento] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_liciRegimeExec] ON 

INSERT [dbo].[cam_liciRegimeExec] ([id_RegimeExec], [decRegimeExec]) VALUES (1, N'FORNECIMENTO')
INSERT [dbo].[cam_liciRegimeExec] ([id_RegimeExec], [decRegimeExec]) VALUES (2, N'EMPREITADA POR PREÇO UNITÁRIO')
INSERT [dbo].[cam_liciRegimeExec] ([id_RegimeExec], [decRegimeExec]) VALUES (3, N'EMPREITADA POR PREÇO GLOBAL')
SET IDENTITY_INSERT [dbo].[cam_liciRegimeExec] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_liciSituacao] ON 

INSERT [dbo].[cam_liciSituacao] ([id_Situacao], [descSituacao]) VALUES (1, N'EM ANDAMENTO')
INSERT [dbo].[cam_liciSituacao] ([id_Situacao], [descSituacao]) VALUES (2, N'ADJUDICADA')
INSERT [dbo].[cam_liciSituacao] ([id_Situacao], [descSituacao]) VALUES (3, N'FINALIZADA')
SET IDENTITY_INSERT [dbo].[cam_liciSituacao] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_licitacao] ON 

SET IDENTITY_INSERT [dbo].[cam_licitacao] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_licitantes] ON 

INSERT [dbo].[cam_licitantes] ([id_Licitantes], [razaoSocial], [nomeFantasia], [cnpjCpfLicitante], [statusLicitante], [Motivo]) VALUES (1, N'TechNova Soluções em Tecnologia Ltda.', N'TechNova Solutions', N'61.139.122/0001-58', 1, N'sdasdsadasdsa')
INSERT [dbo].[cam_licitantes] ([id_Licitantes], [razaoSocial], [nomeFantasia], [cnpjCpfLicitante], [statusLicitante], [Motivo]) VALUES (2, N'Sabor e Arte Indústria de Alimentos S/A', N'Sabor & Arte Gourmet', N'00.435.486/0001-90', 1, N'asdasdasdsad')
INSERT [dbo].[cam_licitantes] ([id_Licitantes], [razaoSocial], [nomeFantasia], [cnpjCpfLicitante], [statusLicitante], [Motivo]) VALUES (3, N'Construa Mais Empreendimentos Eireli', N'Construa Mais', N'11.321.321/231213213-11', 1, N'asdasdasdasdasd')
SET IDENTITY_INSERT [dbo].[cam_licitantes] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_liciTipoLicitacao] ON 

INSERT [dbo].[cam_liciTipoLicitacao] ([id_TipoLici], [decTipoLici]) VALUES (1, N'MENOR PREÇO')
INSERT [dbo].[cam_liciTipoLicitacao] ([id_TipoLici], [decTipoLici]) VALUES (2, N'CONTRATAÇÃO DIRETA')
INSERT [dbo].[cam_liciTipoLicitacao] ([id_TipoLici], [decTipoLici]) VALUES (3, N'TÉCNICA E PREÇO')
SET IDENTITY_INSERT [dbo].[cam_liciTipoLicitacao] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_mandatoAnt] ON 

INSERT [dbo].[cam_mandatoAnt] ([id_mandatoAnt], [id_vereador], [id_mandatoleg], [anoInicio], [anoFim]) VALUES (30, 28, 2, N'2020  ', N'  2024')
INSERT [dbo].[cam_mandatoAnt] ([id_mandatoAnt], [id_vereador], [id_mandatoleg], [anoInicio], [anoFim]) VALUES (31, 28, 1, N'2020 ', N' 2024')
INSERT [dbo].[cam_mandatoAnt] ([id_mandatoAnt], [id_vereador], [id_mandatoleg], [anoInicio], [anoFim]) VALUES (32, 28, 1, N'2025 ', N' 2028')
SET IDENTITY_INSERT [dbo].[cam_mandatoAnt] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_mandatosLeg] ON 

INSERT [dbo].[cam_mandatosLeg] ([id_mandatosLeg], [IdMandato], [mandatos]) VALUES (1, 2, N'2021/2022')
INSERT [dbo].[cam_mandatosLeg] ([id_mandatosLeg], [IdMandato], [mandatos]) VALUES (2, 2, N'2023/2024')
INSERT [dbo].[cam_mandatosLeg] ([id_mandatosLeg], [IdMandato], [mandatos]) VALUES (3, 1, N'2017/2018')
SET IDENTITY_INSERT [dbo].[cam_mandatosLeg] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_manifestacao] ON 

INSERT [dbo].[cam_manifestacao] ([id_manifestcao], [id_tipoManifestacao], [anonimo], [formaRecebimento], [email], [cpf], [nome], [telefone], [anexo], [textoManifestacao], [dataCad], [protocolo], [respondida], [resposta], [usu_Resp], [dataResposta]) VALUES (10, 1, 1, N'', N'', N'              ', N'', N'', N'', N'asdasdasd', CAST(N'2025-01-09T17:26:03.200' AS DateTime), N'PRT-20250109172603', 1, N'asdasdasdasdsa', NULL, NULL)
INSERT [dbo].[cam_manifestacao] ([id_manifestcao], [id_tipoManifestacao], [anonimo], [formaRecebimento], [email], [cpf], [nome], [telefone], [anexo], [textoManifestacao], [dataCad], [protocolo], [respondida], [resposta], [usu_Resp], [dataResposta]) VALUES (11, 1, 1, N'', N'', N'              ', N'', N'', N'', N'sadasdasd', CAST(N'2025-01-09T17:30:51.957' AS DateTime), N'PRT-20250109173051', 1, N'sadasdsadasdaaaaaaaaa', NULL, CAST(N'2025-01-13T17:58:35.220' AS DateTime))
INSERT [dbo].[cam_manifestacao] ([id_manifestcao], [id_tipoManifestacao], [anonimo], [formaRecebimento], [email], [cpf], [nome], [telefone], [anexo], [textoManifestacao], [dataCad], [protocolo], [respondida], [resposta], [usu_Resp], [dataResposta]) VALUES (12, 1, 1, N'', N'', N'              ', N'', N'', N'arquivo_202519_173158.pdf', N'sadsadasdsa', CAST(N'2025-01-09T17:31:58.143' AS DateTime), N'PRT-20250109173158', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[cam_manifestacao] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_noticias] ON 

INSERT [dbo].[cam_noticias] ([id_noticia], [titulo], [subtitulo], [conteudo], [anexo_noticia], [autor], [destaque], [dataCad], [idUsu_Cad], [idUsu_Alt], [dataAlt], [statusNoticia]) VALUES (30, N'sadadasd', N'sadsadasdasd', N'<p>asdasdasdas</p>
', N'Noticia_2025115163427.jpeg', N'sadasdasdad', NULL, CAST(N'2024-11-14T15:23:18.163' AS DateTime), N'04426330173', N'4426330173', CAST(N'2025-01-15T16:34:27.570' AS DateTime), 1)
INSERT [dbo].[cam_noticias] ([id_noticia], [titulo], [subtitulo], [conteudo], [anexo_noticia], [autor], [destaque], [dataCad], [idUsu_Cad], [idUsu_Alt], [dataAlt], [statusNoticia]) VALUES (31, N'sdfsdfasdasd', N'fsdfdsfdsf', N'<p>dsfsfdsfdsfasdasdasdasdsadsadasdsadsad</p>
', N'Noticia_2025115163413.jpeg', N'dsfsdfsfd', NULL, CAST(N'2024-11-14T15:32:24.333' AS DateTime), N'04426330173', N'4426330173', CAST(N'2025-01-15T16:34:13.790' AS DateTime), 1)
INSERT [dbo].[cam_noticias] ([id_noticia], [titulo], [subtitulo], [conteudo], [anexo_noticia], [autor], [destaque], [dataCad], [idUsu_Cad], [idUsu_Alt], [dataAlt], [statusNoticia]) VALUES (36, N'sdfsdfasdasd', N'fsdfdsfdsf', N'<p>dsfsfdsfdsfasdasdasdasdsadsadasdsadsad</p>
', N'Noticia_202511516341.jpeg', N'xzcxzczxc', NULL, CAST(N'2024-11-14T15:23:18.163' AS DateTime), NULL, N'4426330173', CAST(N'2025-01-15T16:34:01.107' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[cam_noticias] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_orgao] ON 

INSERT [dbo].[cam_orgao] ([id_Orgao], [descOrgao]) VALUES (1, N'Câmara Mul. de Ananás')
SET IDENTITY_INSERT [dbo].[cam_orgao] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_pca] ON 

INSERT [dbo].[cam_pca] ([id_pca], [id_categoriaLeg], [numDocumento], [dataPublicacao], [descricaoPCA], [upPCA], [statusPCA], [id_usuCad], [dataCad], [id_usuAlt], [dataAlt]) VALUES (1, 12, N'02/2024', CAST(N'2024-12-05T00:00:00.000' AS DateTime), N'asdsadsada', N'download (3).pdf', 1, N'4426330173', CAST(N'2024-12-05T15:52:55.447' AS DateTime), NULL, NULL)
INSERT [dbo].[cam_pca] ([id_pca], [id_categoriaLeg], [numDocumento], [dataPublicacao], [descricaoPCA], [upPCA], [statusPCA], [id_usuCad], [dataCad], [id_usuAlt], [dataAlt]) VALUES (2, 12, N'03/2024', CAST(N'2024-12-13T00:00:00.000' AS DateTime), N'aaaaa', N'download (3).pdf', 1, N'4426330173', CAST(N'2024-12-17T13:16:19.570' AS DateTime), N'4426330173', CAST(N'2024-12-17T13:22:47.233' AS DateTime))
SET IDENTITY_INSERT [dbo].[cam_pca] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_permissaoAcesso] ON 

INSERT [dbo].[cam_permissaoAcesso] ([id], [id_Servidor], [id_permissao]) VALUES (49, 3, 1)
INSERT [dbo].[cam_permissaoAcesso] ([id], [id_Servidor], [id_permissao]) VALUES (50, 3, 3)
INSERT [dbo].[cam_permissaoAcesso] ([id], [id_Servidor], [id_permissao]) VALUES (51, 3, 4)
SET IDENTITY_INSERT [dbo].[cam_permissaoAcesso] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_regimento] ON 

INSERT [dbo].[cam_regimento] ([id_regimento], [titulo], [descricao], [anexo_regimento], [data_cad], [idUsu_Cad], [idUsu_Alt], [data_Alt]) VALUES (1, N'Regimento Interno ', N'Regimento Interno CÃ¢mara Mul. de AnanÃ¡s-TO', N'2025127165450.pdf', CAST(N'2024-10-31T16:56:54.900' AS DateTime), N'4426330173', N'4426330173', CAST(N'2025-01-27T16:54:50.923' AS DateTime))
SET IDENTITY_INSERT [dbo].[cam_regimento] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_servidor] ON 

INSERT [dbo].[cam_servidor] ([id_servidor], [CPF], [NomeCompleto]) VALUES (1, N'32170252029', N'Cicinho do São João')
INSERT [dbo].[cam_servidor] ([id_servidor], [CPF], [NomeCompleto]) VALUES (2, N'11072948001', N'Elzi')
INSERT [dbo].[cam_servidor] ([id_servidor], [CPF], [NomeCompleto]) VALUES (3, N'58337239069', N'Zelu')
SET IDENTITY_INSERT [dbo].[cam_servidor] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_servidores] ON 

SET IDENTITY_INSERT [dbo].[cam_servidores] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_tipoComissao] ON 

INSERT [dbo].[cam_tipoComissao] ([id_tipoComissao], [DescComissao]) VALUES (1, N'Comissão de Constituição Justiça e Redação')
INSERT [dbo].[cam_tipoComissao] ([id_tipoComissao], [DescComissao]) VALUES (2, N'Comissão de Administração, Trabalho, Transporte, Agricultura, Desenvolvimento Urbano e Serviço Público')
INSERT [dbo].[cam_tipoComissao] ([id_tipoComissao], [DescComissao]) VALUES (3, N'Comissão de Finanças, Orçamento, Tributação, fiscalização e Controle')
SET IDENTITY_INSERT [dbo].[cam_tipoComissao] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_tipoContratacao] ON 

INSERT [dbo].[cam_tipoContratacao] ([id_tipoContratacao], [descTipo]) VALUES (1, N'Licitação')
INSERT [dbo].[cam_tipoContratacao] ([id_tipoContratacao], [descTipo]) VALUES (2, N'Dispensa de Licitação')
INSERT [dbo].[cam_tipoContratacao] ([id_tipoContratacao], [descTipo]) VALUES (3, N'Inexigibilidade de Licitação')
SET IDENTITY_INSERT [dbo].[cam_tipoContratacao] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_tipoEsic] ON 

INSERT [dbo].[cam_tipoEsic] ([id_tipoEsic], [descTipo]) VALUES (1, N'Demanda')
INSERT [dbo].[cam_tipoEsic] ([id_tipoEsic], [descTipo]) VALUES (2, N'Manifestação - Elogio')
INSERT [dbo].[cam_tipoEsic] ([id_tipoEsic], [descTipo]) VALUES (3, N'Manifestação - Crítica')
SET IDENTITY_INSERT [dbo].[cam_tipoEsic] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_tipoManifestacao] ON 

INSERT [dbo].[cam_tipoManifestacao] ([id_tipoManifestacao], [descManifestacao], [icone]) VALUES (1, N'Denúncia', N'fa-exclamation-circle')
INSERT [dbo].[cam_tipoManifestacao] ([id_tipoManifestacao], [descManifestacao], [icone]) VALUES (2, N'Dúvida', N'fa-question-circle')
INSERT [dbo].[cam_tipoManifestacao] ([id_tipoManifestacao], [descManifestacao], [icone]) VALUES (3, N'Elogio', N'fa-frown')
SET IDENTITY_INSERT [dbo].[cam_tipoManifestacao] OFF
GO
INSERT [dbo].[cam_tipoPermissao] ([id_permissao], [desc_Permissao]) VALUES (1, N'Administrador')
INSERT [dbo].[cam_tipoPermissao] ([id_permissao], [desc_Permissao]) VALUES (2, N'A Câmara')
INSERT [dbo].[cam_tipoPermissao] ([id_permissao], [desc_Permissao]) VALUES (3, N'Diário Oficial')
GO
SET IDENTITY_INSERT [dbo].[cam_vereador] ON 

INSERT [dbo].[cam_vereador] ([Id_Vereador], [id_servidor], [apelido], [partido], [ocupacao], [fotoVereador], [IdMandato], [statusVereador]) VALUES (31, 12, NULL, NULL, NULL, NULL, 2, NULL)
INSERT [dbo].[cam_vereador] ([Id_Vereador], [id_servidor], [apelido], [partido], [ocupacao], [fotoVereador], [IdMandato], [statusVereador]) VALUES (32, 13, NULL, NULL, NULL, NULL, 2, NULL)
INSERT [dbo].[cam_vereador] ([Id_Vereador], [id_servidor], [apelido], [partido], [ocupacao], [fotoVereador], [IdMandato], [statusVereador]) VALUES (33, 14, NULL, NULL, NULL, NULL, 2, NULL)
SET IDENTITY_INSERT [dbo].[cam_vereador] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_vereadorMandato] ON 

INSERT [dbo].[cam_vereadorMandato] ([IdMandato], [Mandato]) VALUES (1, N'2017-2020')
INSERT [dbo].[cam_vereadorMandato] ([IdMandato], [Mandato]) VALUES (2, N'2021-2024')
INSERT [dbo].[cam_vereadorMandato] ([IdMandato], [Mandato]) VALUES (3, N'2025-2028')
SET IDENTITY_INSERT [dbo].[cam_vereadorMandato] OFF
GO
ALTER TABLE [dbo].[cam_administradores]  WITH CHECK ADD  CONSTRAINT [FK_cam_administradores_cam_permissaoAcesso] FOREIGN KEY([id_adminPermissao])
REFERENCES [dbo].[cam_permissaoAcesso] ([id])
GO
ALTER TABLE [dbo].[cam_administradores] CHECK CONSTRAINT [FK_cam_administradores_cam_permissaoAcesso]
GO
ALTER TABLE [dbo].[cam_comissao]  WITH CHECK ADD  CONSTRAINT [FK_cam_comissao_cam_funcoesLeg] FOREIGN KEY([id_funcoes])
REFERENCES [dbo].[cam_funcoesLeg] ([id_funcoes])
GO
ALTER TABLE [dbo].[cam_comissao] CHECK CONSTRAINT [FK_cam_comissao_cam_funcoesLeg]
GO
ALTER TABLE [dbo].[cam_comissao]  WITH CHECK ADD  CONSTRAINT [FK_cam_comissao_cam_mandatosLeg] FOREIGN KEY([id_mandatoleg])
REFERENCES [dbo].[cam_mandatosLeg] ([id_mandatosLeg])
GO
ALTER TABLE [dbo].[cam_comissao] CHECK CONSTRAINT [FK_cam_comissao_cam_mandatosLeg]
GO
ALTER TABLE [dbo].[cam_comissao]  WITH CHECK ADD  CONSTRAINT [FK_cam_comissao_cam_tipoComissao] FOREIGN KEY([id_tipoComissao])
REFERENCES [dbo].[cam_tipoComissao] ([id_tipoComissao])
GO
ALTER TABLE [dbo].[cam_comissao] CHECK CONSTRAINT [FK_cam_comissao_cam_tipoComissao]
GO
ALTER TABLE [dbo].[cam_legislativo]  WITH CHECK ADD  CONSTRAINT [FK_cam_legislativo_cam_funcoesLeg] FOREIGN KEY([id_funcoes])
REFERENCES [dbo].[cam_funcoesLeg] ([id_funcoes])
GO
ALTER TABLE [dbo].[cam_legislativo] CHECK CONSTRAINT [FK_cam_legislativo_cam_funcoesLeg]
GO
ALTER TABLE [dbo].[cam_legislativo]  WITH CHECK ADD  CONSTRAINT [FK_cam_legislativo_cam_mandatosLeg] FOREIGN KEY([id_mandatoleg])
REFERENCES [dbo].[cam_mandatosLeg] ([id_mandatosLeg])
GO
ALTER TABLE [dbo].[cam_legislativo] CHECK CONSTRAINT [FK_cam_legislativo_cam_mandatosLeg]
GO
ALTER TABLE [dbo].[cam_permissaoAcesso]  WITH CHECK ADD  CONSTRAINT [FK_cam_permissaoAcesso_cam_tipoPermissao] FOREIGN KEY([id_permissao])
REFERENCES [dbo].[cam_tipoPermissao] ([id_permissao])
GO
ALTER TABLE [dbo].[cam_permissaoAcesso] CHECK CONSTRAINT [FK_cam_permissaoAcesso_cam_tipoPermissao]
GO
